<html>
  <head>
    <link rel="stylesheet" href="../../style.css" />
    <style></style>
  </head>
  <body>
    <img
      src="https://d39l2hkdp2esp1.cloudfront.net/img/photo/276972/276972_00_2x.jpg?20230904012223"
      alt=""
    />
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/views/pages/experience.html">Experience</a>
        </li>
        <li>
          <a href="/views/pages/aboutme.html">About Me</a>
        </li>
        <li>
          <a href="/views/pages/works.html">Works</a>
        </li>
        <li>
          <a href="/views/pages/contact.html">Contact</a>
        </li>
      </ul>
    </nav>
    <h1>This is contact.html</h1>

    <form onsubmit="sendMessage(event)">
      <label for="lName" class="meena">First Name</label>
      <input type="text" name="fName" id="fName" /><br />
      <label for="fName" class="meena">Last Name</label>
      <input
        type="text"
        name="lName"
        id="lName"
        onchange="test()"
        placeholder="Last Name"
      />
      <br />
      <textarea
        id="message"
        cols="30"
        rows="5"
        placeholder="Message here"
      ></textarea>

      <br />

      <input type="submit" name="submit" id="submit" />
    </form>

    <span>Full Name:</span>
    <span id="ref1"></span>
    <span id="ref2"></span>

    <br />
    <br />

    <span>Message:</span>
    <span id="ref3"></span>

    <br />
    <br />
    <button id="w1" onclick="whiteBox()">White Box</button>

    <script>
      function sendMessage(e) {
        e.preventDefault();
        let fName = document.getElementById("fName");
        let lName = document.getElementById("lName");
        let message = document.getElementById("message");

        console.log("fName", fName.value);
        console.log("lName", lName.value);
        console.log("message", message.value);

        let ref1 = document.getElementById("ref1");
        let ref2 = document.getElementById("ref2");
        let ref3 = document.getElementById("ref3");

        ref1.innerHTML = fName.value;
        ref2.innerHTML = lName.value;
        ref3.innerHTML = message.value;
      }
    </script>

    <script>
      function whiteBox() {
        // declarative function
        document.getElementById("w1").addEventListener("click", function () {
          // anonymous function
          console.log("Hello WOrld");
        });
      }

      document.getElementById("fName").addEventListener("change", function () {
        console.log("TEST");
      });

      function test() {
        document.getElementById("lName");

        console.log(document.getElementById("lName").value);
      }

      whiteBox();
    </script>

    <script></script>
  </body>
</html>
