<html>
  <head>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      ul {
        list-style: none;
      }
      a {
        text-decoration: none;
      }
      nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      .nav-menu {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
      }
      .top-bar .logo-box {
        justify-self: center;
      }
      .top-bar .download-resume-btn {
        justify-self: end;
      }
    </style>
  </head>

  <body>
    <nav class="top-bar">
      <ul class="nav-menu">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/views/pages/experience.html">Experience</a>
        </li>
        <li>
          <a href="/views/pages/aboutme.html">About Me</a>
        </li>
        <li>
          <a href="/views/pages/works.html">Works</a>
        </li>
        <li>
          <a href="/views/pages/contact.html">Contact</a>
        </li>
      </ul>

      <div class="logo-box">
        <p>Logo</p>
      </div>

      <div class="download-resume-btn">
        <button>Download Resume</button>
      </div>
    </nav>
    <h1>This is experience.html</h1>

    <img src="" alt="" />
  </body>
</html>
