<!-- <NavBar>
  <include src="./../components/NavBar.html"></include>
</NavBar> -->
<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/views/pages/experience.html">Experience</a>
    </li>
    <li>
      <a href="/views/pages/aboutme.html">About Me</a>
    </li>
    <li>
      <a href="/views/pages/works.html">Works</a>
    </li>
    <li>
      <a href="/views/pages/contact.html">Contact</a>
    </li>
  </ul>
</nav>
<h1>This is works.html</h1>

<div style="font-weight: bold; font-size: 24px; border: 1px solid blue">
  Block
</div>
<p style="border: 1px solid blue">Block</p>
<h1 style="font-size: 16px; border: 1px solid blue; font-weight: normal">
  Block
</h1>

<table>
  <!-- Below is 1st row -->
  <tr>
    <!-- 1st column -->
    <th>Student Name</th>

    <!-- 2nd column -->
    <th>Age</th>
  </tr>
  <!-- Above is 1st row -->

  <!-- Below is 2nd row -->
  <tr>
    <!-- 1st column -->
    <td>Nil Mil</td>

    <!-- 2nd column -->
    <td>23</td>
  </tr>

  <!-- Below is 3rd row -->
  <tr>
    <!-- 1st column -->
    <td>Say Nil</td>

    <!-- 2nd column -->
    <td>20</td>
  </tr>
</table>

<span style="border: 1px solid red">Inline</span>
