ul {
  list-style: none;
}
#home {
  color: blue;
}
li[draggable] {
  color: green;
}
.home {
  color: red;
}
li {
  color: grey !important;
  color: aqua;
}

.test {
  background-color: red;
  color: white;
  margin: 0 50px;
}
